<header><app-menu-bar></app-menu-bar></header>
<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="articles-main">
<app-big-card
photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJSQHpiwXHOshx3OHt-Ploy3hp8phSUhsd5A&usqp=CAU"
cardTitle="Lançamento x-men 2023"
cardDescription=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus ut sem id tempus. Integer ut risus magna. Proin ultrices ante et augue malesuada venenatis. Pellentesque a ipsum vestibulum, ornare est quis, consectetur justo. Proin enim dui, finibus vitae gravida id, egestas sed libero. Vestibulum finibus ligula ante. Nulla sit amet gravida magna. Aenean dictum mauris id venenatis facilisis. Nullam tempus, magna eget elementum vulputate, enim diam lacinia sapien, in facilisis turpis sapien in orci. Cras nisl nunc, condimentum eleifend justo sit amet, placerat mollis elit."

></app-big-card>
  </div>
  <div class="articles-others">
<app-small-card
photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2qGR6K7IXh-Z3To8gHf86g1-suKmazZF_xg&usqp=CAU"
cardTitle="x-men revolution 2023"
>
</app-small-card>
<app-small-card
photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2qGR6K7IXh-Z3To8gHf86g1-suKmazZF_xg&usqp=CAU"
cardTitle="x-men revolution 2023"
>
</app-small-card>
<app-small-card
photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2qGR6K7IXh-Z3To8gHf86g1-suKmazZF_xg&usqp=CAU"
cardTitle="x-men revolution 2023"
>
</app-small-card>
  </div>
</div>
