<div class="container-menu-bar">
<div class="menu">
  <a href="#" class="active"><img class="logo" src=""></a>
  <a href="#" class="a_menudesktop active">Blog</a>
  <a href="#" class="a_menudesktop">Github</a>
  <a href="#" class="a_menudesktop">linkedin</a>
  <a href="#" class="a_menudesktop">FAQ</a>

</div>
<div class="col-lg-3 col-md-6 col-6">
  <div class="linksocialmedia">
      <a class="a_menudesktop" href="https://twitter.com/dwinawan_" target="_blank"><img src="https://www.dwinawan.com/img/icon_twitter.svg"></a>
      <a class="a_menudesktop" href="https://instagram.com/dwi.nawan" target="_blank"><img src="https://www.dwinawan.com/img/icon_instagram.svg"></a>
      <a class="a_menudesktop" href="https://dribbble.com/dwinawan" target="_blank"><img src="https://www.dwinawan.com/img/icon_dribbble.svg"></a>
      <a class="a_menudesktop" href="https://medium.com/@dwinawan" target="_blank"><img src="https://www.dwinawan.com/img/icon_medium.svg"></a>
      <a id="showmenumobile" class="a_menumobile" href="#"><img src="img/icon_burger_white.svg"></a>
  </div>
</div>


</div>
